:root {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background-image: url('../images/bg-pattern-top.svg'), url('../images/bg-pattern-bottom.svg');
    background-repeat: no-repeat;
    background-position: calc(100% - 11em) calc(100% - 18em), calc(100% + 47em) calc(100% + 32em);
    background-color: hsl(185, 75%, 39%);
    font-family: 'Kumbh Sans', Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-weight: 18px;
}


main {
    width: 90%;
    margin: 10em auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 2fr 1.5fr;
    border-radius: 0 0 1em 1em;
}

@media (min-width: 25em) {
    main {
        width: 25em;
    }
}


@media (min-width: 50em){
    body {
        background-position: calc(100% - 49em) calc(100% - 20em), calc(100% + 17em) calc(100% + 39em);
        padding: 10em 5em;
    }

    main {
        margin: auto;
        width: 30em;
    }
}

.card-top-background {
    background-image: url('../images/bg-pattern-card.svg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1em 1em 0 0;
}

.person {
    position: relative;
    background-color: white;
}

.person-icon {
    border-radius: 50%;
    border: 0.3em solid white;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.person-bio {
    margin-top: 5em;
    text-align: center;
}

.name-and-age {
    font-size: 1.5em;
    font-weight: 700;
    color: hsl(229, 23%, 23%);
}

.age, .city, .stat-for {
    color: hsl(227, 10%, 46%);
}

.city {
    margin-top: 0.6em;
    font-size: 1.2em;
}

.row {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    background-color: white;
    border-top: 1.5px solid hsl(227, 10%, 46%);
    padding: 2em;
    border-radius: 0 0 1em 1em;
}

.column {
    display: grid;
}

.stat, .stat-for {
    text-align: center;
}

.stat {
    align-self: flex-end;
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    color: hsl(229, 23%, 23%);
}

.stat-for {
    text-transform: capitalize;
    padding-top:0.5em;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}