*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-image: url("../../images/bg-stars.svg"),
    url("../../images/pattern-hills.svg");
  background-repeat: no-repeat;
  background-position: center top, center bottom;
  height: 100vh;
  width: 100vw;
  background-color: hsl(234, 17%, 12%);
}
