:root {
    --very-dark-cyan: hsl(183, 100%, 15%);
    --dark-grayish-cyan: hsl(186, 14%, 43%);
    --dark-grayish-cyan2: hsl(184, 14%, 56%);
    --light-grayish-cyan: hsl(185, 41%, 84%);
    --light-grayish-cyan2: hsl(189, 41%, 97%);
    --white: hsl(0, 0%, 100%);
}

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    font-family: 'Space Mono';
    background-color: var(--light-grayish-cyan);
    color: var(--very-dark-cyan);
    font-weight: 700;
    width: 100%;
    margin: auto;
}


/* Avoid having spin-buttons (up-down arrows) for number-input field(s) */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
    border: 0;
    outline: none;
}


.logo {
    background-image: url('../images/logo.svg');
    background-repeat: no-repeat;
    margin: 1em auto;
    height: 6em;
    background-position: center;
}

.tip-calculator {
    background-color: var(--white);
    border-radius: 1.5em 1.5em 0 0;
    display: grid;
    gap: 2.5em;
    padding: 1.5em;
}

.bill-amount, .no-of-people, .tip-details {
    position: relative;
}

.fas, .fa {
    position: absolute;
    z-index: 1;
}

.fas.input-icon, .fa.input-icon {
    top: 2.75em;
    left: 0.75em;
}

.fas.tip-amount-per-person-icon {
    top:5.35em;
    right: 7.5em;
}

.fas.total-per-person-icon {
    top: 10.25em;
    right: 7.5em;
}

.form-field {
    margin: 0.55em 0 1.75em 0;
}

.form-field > label, .form-field > input {
    display: block;
    width: 100%;
}

.form-field > label {
    color: var(--dark-grayish-cyan);
    margin-bottom: 0.75em;
}

.form-field > input {
    font-size: 1.5em;
    background-color: var(--light-grayish-cyan2);
    padding: 0.3em;
    text-align: right;
    font-weight: 900;
    color: var(--very-dark-cyan);
}

.tip-percentage-options {
    display:grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 2em);
    gap: 1em;
    margin: 1em 0 0 0;
}

.tip-percentage-options > button {
    background-color: var(--very-dark-cyan);
    color: white;
    font-weight: 700;
    font-size: 1.2rem;
    cursor: pointer;
    border: 0;
    border-radius: 0.3em;
    height: 2em;
}

.tip-percentage-options > button:hover {
    background-color: var(--light-grayish-cyan);
    color: var(--very-dark-cyan);
}

.tip-percentage-options > button.selected-tip {
    background-color: var(--light-grayish-cyan);
    color: var(--very-dark-cyan);
}

.tip-percentage-options > input {
    background-color: var(--light-grayish-cyan2);
    color: var(--dark-grayish-cyan2);
    width: 100px;
    border: 0;
    text-align: center;
    font-weight: 700;
}

#no-of-people {
    position: relative;
}

.no-of-people > img {
    position: absolute;
    right: 10px;
}


.tip-result {
    background-color: var(--very-dark-cyan);
    border-radius: 1em 1em 1em 1em;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    gap: 1em;
    color: var(--white);
}

.tip-details {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 2em;
    grid-template-columns: 2fr 1fr;
    padding-top: 4em;
}

.tip-details > * {
    display: flex;
    font-size: 0.9rem;
    gap: 0.5em;
    flex-direction: column;
    margin: auto auto auto 0;
}

.tip-amount-per-person-label, .total-per-person-label > span {
    text-align: left;
    padding-left: 1.25em;
}

.per-person-label {
    color: var(--dark-grayish-cyan);
}

.tip-amount-per-person-value, .total-per-person-value {
    font-size: 1.5em;
}

.tip-reset-button-container {
    text-align: center;
    margin-top: 1.5em;
}

.tip-reset-button {
    width: 90%;
    margin-top: 8em;
    border:0;
    padding: 1em 2em;
    border-radius: 0.3em;
    font-weight: 900;
    text-transform: uppercase;
    background-color: var(--light-grayish-cyan);
    color: var(--very-dark-cyan);
    margin: 1em 0.3em;
}


.tip-reset-button:hover {
    cursor: pointer;
}

button.color-red {
    color: red;
}

@media (min-width: 50em){
    body {
        max-width: 50em;
        margin: auto;
        width: 80%;
        border-radius: 1em;
        padding: 1em;
    }

    .tip-calculator {
        grid-template-columns: 1fr 1fr;
        border-radius: 1em 1em 1em 1em;
        max-height: 30em;
        padding: 2em;
    }

    .form-field > label {
        margin-bottom: 1em;
    }

    .tip-percentage-options {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .tip-details {
        row-gap: 1em;
    }

    .tip-details > * {
        gap: 0.5em;
    }

    .tip-reset-button-container {
        margin-top: auto;
    }

    .fas.input-icon, .fa.input-icon {
        top: 3em;
    }
}